@model IEnumerable<SocialEvents.ViewModel.SituationViewModel>
    @using SocialEvents.Models;
@{
    ViewBag.Title = "AddSitution";
}

<h2>AddSituation</h2>

<p>
    @if (Session["CurrentUser"] is Therapist)
    {
         @Html.ActionLink("Create New quiz", "Create", null, new { @class = "btn btn-primary" })
    }
</p>

<br />
<table class="table" style="width: 1200px;">
    <tr>
        <th>
            <b>Description</b>
        </th>
            <b>Image</b>
        <th>
        </th>
    </tr>
    <a href="~/Views/Situation/AddSituation.cshtml">~/Views/Situation/AddSituation.cshtml</a>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 500px;">
                @Html.Raw(item.Description)
            </td>
            <td>
                <img src="/Situation/RetrieveImage/@item.SolutionID" alt="" height=100 width=200 onclick="redirectFunction(@item.SolutionID)" />
            </td>
        </tr>
    }
</table>

<script>
    function redirectFunction(a) {
        window.location.href = "/Situation/GenerateQuiz/" + a;
    }
</script>