@model IEnumerable<SocialEvents.ViewModel.SituationViewModel>
@{
    ViewBag.Title = "AddSitution";
}

<h2>AddSituation</h2>

<p>
    @Html.ActionLink("Create New quiz", "Create", null, new { @class = "btn btn-primary" })
</p>

<br />
<table class="table" style="width: 1200px;">
    <tr>
        <th>
            <b>Description</b>
        </th>
        <th>
            <b>Image</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 500px;">
                @Html.Raw(item.Description)
            </td>
            <td>
                <img src="/Situation/RetrieveImage/@item.SolutionID" alt="" height=100 width=200 />
            </td>
        </tr>
    }
</table>