
@{
    ViewBag.Title = "TherapistPage";
}

<h2>TherapistPage</h2>

<div>
    <button id="as" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("AddSituation", "Situation")'">Add situation</button>

</div>