
@{
    ViewBag.Title = "UserPage";
}

<h2>UserPage</h2>

<div>
    <button id="Sit" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("AddSituation", "Situation")'">Choose situation</button>

</div>